/* CUSTOM ANTD  */
.ant-select-selector {
  height: 100% !important;
  border-radius: 0.25rem !important;
}

.ant-select-selection-item {
  line-height: 250% !important;
}
.ant-card-body {
  height: 150px;
}
.ant-card-meta-description {
  /* height: 100px; */
  width: 100%;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  /* overflow: hidden; */
}
